flask==3.0.2
gunicorn
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.118.0
requests==2.31.0
python-dotenv==1.0.1
openai==1.12.0
numpy==1.26.4
websockets==15.0.1
Werkzeug==3.1.3
